@import "tailwindcss";
body {
  background-color: rgb(107, 101, 101);
  min-height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  margin-top: 6rem;
}
